<div class="headbar sp_mt10 sp_mb20">
	<div class="sp_row">
		<div class="sp_small_3 sp_columns">
			<div class="logodrop">
				<div class="logodrop_logo">
					<span>s-press</span>
				</div>
				<ul class="logodrop_list">
                                        <li class="logodrop_item"><a href="/menu" class="logodrop_link">Menu</a></li>
					<li class="logodrop_item"><a href="/add" class="logodrop_link">Add</a></li>
					<li class="logodrop_item"><a href="/list" class="logodrop_link">Listing</a></li>
					<li class="logodrop_item"><a href="" logout class="logodrop_link">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>