<div class="colpopup" ng-show="showpop">
	<span class="colpopup_align"></span>
	<div class="colpopup_content">
		<a href="" class="colpopup_close flaticon-delete" ng-click="closepop()"></a>
		<form class="sp_mb15">
			<h3 class="sp_al_center sp_m0">Add Column</h3>
			<span class="sp_hr sp_mb25"></span>
			<div class="sp_row ">
				<div class="sp_small_7 sp_columns collapse">
					<div class="sp_small_11 sp_columns">
						<label for="" class="sp_bold sp_font_15">ID</label>
					</div>
					<div class="sp_small_13 sp_columns">
						<input type="text" class="sp_input" ng-model="blockdata.ID">
					</div>
				</div>
					<div class="sp_small_17 sp_columns collapse">
					<div class="sp_small_4 sp_columns">
						<label for="" class="sp_bold sp_font_15">Image</label>
					</div>
					<div class="sp_small_20 sp_columns">
						<input type="text" class="sp_input" ng-model="blockdata.Image">
					</div>
				</div>
			</div>
			<div class="sp_row">
				<div class="sp_small_3 sp_columns">&nbsp;</div>
				<div class="sp_small_21 sp_columns">
					<div class="imagepreview sp_mb15">
						<img style="max-height: 260px" src="{{blockdata.Image}}" alt="">
					</div>
				</div>
			</div>
			<div class="sp_row">
				<div class="sp_small_3 sp_columns">
					<label for="" class="sp_bold sp_font_15">Title</label>
				</div>
				<div class="sp_small_21 sp_columns">
					<input type="text" class="sp_input" ng-model="blockdata.Title">
				</div>
			</div>
			<div class="sp_row">
				<div class="sp_small_3 sp_columns">
					<label for="" class="sp_bold sp_font_15">Url</label>
				</div>
				<div class="sp_small_21 sp_columns">
					<input type="text" class="sp_input" ng-model="blockdata.Uri">
				</div>
			</div>
			<div class="sp_row">
				<div class="sp_small_3 sp_columns">
					<label for="" class="sp_bold sp_font_15">Template</label>
				</div>
				<div class="sp_small_21 sp_columns">
					<select ng-options="item.id as item.label for item in templates" class="sp_select" name="" id="" ng-model="blockdata.Template">
						<option value="">Select</option>
						<!-- <option value="0">SubCategory</option>
						<option value="1">Products</option>
						<option value="2">Sports</option>
						<option value="3">Brands</option>
						<option value="4">Campaign</option>
						<option value="5">GiftGuide</option>
						<option value="6">Celebrities</option>
						<option value="7">HTML</option>
						<option value="8">Landing</option>
						<option value="9">SportsList</option> -->	
					</select>
				</div>
			</div>
			<div class="sp_row">
				<div class="sp_small_4 sp_columns sp_small_centered">
					<a href="" class="sp_button sp_br4 sp_btngreen sp_m0" ng-click="donepop()">Save</a>
				</div>
			</div>
		</form>
	</div>
	<div class="colpopup_overlay" ng-click="closepop()"></div>
</div>