<ul class="module_list">
	<li class="module_item sp_mb10 main_additem" ng-animate="'animate'" ng-repeat="item in items track by $index" data-index="{{$index}}">
		<div class="sp_row module_head collapse">
			<div class="sp_small_2 sp_columns"><span class="module_count sp_bold">{{$index+1}}</span></div>
			<div class="sp_small_15 sp_columns">
				<input aspect="item.Columns" type="text" class="module_ratio sp_m0 sp_input" ng-model="item.AspectRatio" placeholder="ratio">
			</div>
			<span class="module_actions">	
				<span class="malinks sort">
					<a href="" class="link flaticon-arrows" ng-click="sortUp($index)"></a>
					<a href="" class="link flaticon-arrow-point-to-down" ng-click="sortDown($index)"></a>
				</span>
				<a href="" class="malinks delete flaticon-delete" ng-click="delete($index)"></a>
				<addcolumn 
					template-url="/directives/addcolumn/view.html" 
					dataobject="item">
				</addcolumn>
			</span>
		</div>
		<div class="sp_row module_body">
			<listblocks parent="$index" list="item.Columns" view="viewBlock($index, column, column_index)"></listblocks>
		</div>
	</li>
</ul>