<a href="" class="addcolumn_links addlanding_button" ng-click="showpoplandingdata();">Add Landingdata</a>

<div class="adddataimages_show_forlandingdata" ng-show="pop_landing">
        <addmodule template-url="directives/addmodule/view1.html" dataobject="dataobject.LandingData"></addmodule>
        <listmodules template-url="directives/listmodules/view1.html" list="dataobject.LandingData"></listmodules>
</div>