<div class="login">
	<div class="login_box">
		<div class="loginlogo">s-press</div>
		<div class="loginform">
			<form novalidate ng-submit="submit()" name="form.login">
				<h5 class="loginheading">Login</h5>
				<div class="sp_row stretch">
					<div class="sp_small_10 sp_columns">
						<input 
							type="email" 
							name="email" 
							class="sp_input logininput sp_br3" 
							placeholder="email" 
							ng-class="{error: form.errors.has.email}"
							ng-model="form.data.email"
							required>
							<span ng-show="form.errors.has.email" ng-cloak class="sp_formerror">
								{{form.errors.message.email}}
							</span>
					</div>
					<div class="sp_small_10 sp_columns">
						<input 
							type="password" 
							name="password" 
							class="sp_input logininput sp_br3" 
							placeholder="password" 
							ng-class="{error: form.errors.has.password}"
							ng-model="form.data.password"
							required>
							<span ng-show="form.errors.has.password" ng-cloak class="sp_formerror">
								{{form.errors.message.password}}
							</span>
					</div>
					<div class="sp_small_4 sp_columns">
						<input type="submit" class="sp_fl_right loginbutton sp_button sp_btnpink sp_br3" value="LOGIN">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>