<span ng-click="adddataimage();" class="sp_mtop40 module_add sp_button sp_btngreen sp_br4">Add Image</span> 

<div class="adddataimages_show" ng-show="pop">
    <form novalidate class="sp_mb15" ng-submit="save()" name="">
        <h3 class="sp_al_center sp_m0">Add Column</h3>
        <span class="sp_hr sp_mb25"></span>
        <div class="add_image_attr">
           <div class="sp_row ">
                    <div class="sp_small_7 sp_columns collapse">
                        <div class="sp_small_11 sp_columns">
                            <label class="sp_bold sp_font_15">ID</label>
                        </div>
                        <div class="sp_small_13 sp_columns">
                            <input type="text" class="sp_input" ng-model="formdata.ID">
                        </div>
                    </div>
                        <div class="sp_small_17 sp_columns collapse">
                        <div class="sp_small_4 sp_columns">
                            <label class="sp_bold sp_font_15">Image</label>
                        </div>
                        <div class="sp_small_20 sp_columns">
                            <input type="text"  class="sp_input" ng-model="formdata.Image">
                        </div>
                    </div>
                </div>
                <div class="sp_row">
                    <div class="sp_small_3 sp_columns">&nbsp;</div>
                    <div class="sp_small_21 sp_columns">
                        <div class="imagepreview sp_mb15">
                            <img style="max-height: 260px" src="{{formdata.Image}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="sp_row">
                    <div class="sp_small_3 sp_columns">
                        <label for="" class="sp_bold sp_font_15">Title</label>
                    </div>
                    <div class="sp_small_21 sp_columns">
                        <input type="text" class="sp_input" ng-model="formdata.Title">
                        
                    </div>
                </div>
                <div class="sp_row">
                    <div class="sp_small_3 sp_columns">
                        <label for="" class="sp_bold sp_font_15">Url</label>
                    </div>
                    <div class="sp_small_21 sp_columns">
                        <input type="text" class="sp_input" ng-model="formdata.Uri">
                    </div>
                </div>
                <div class="sp_row">
                    <div class="sp_small_3 sp_columns">
                        <label for="" class="sp_bold sp_font_15">Redirect Url</label>
                    </div>
                    <div class="sp_small_21 sp_columns">
                        <input type="text" class="sp_input" ng-model="formdata.RedirectUri">
                    </div>
                </div>
                <div class="sp_row">
                    <div class="sp_small_3 sp_columns">
                        <label for="" class="sp_bold sp_font_15">Redirect Date</label>
                    </div>
                    <div class="sp_small_21 sp_columns">
                        <input type="date" class="sp_input" ng-model="formdata.Date">
                    </div>
                </div>
                <div class="sp_row">
                    <div class="sp_small_3 sp_columns">
                        <label for="" class="sp_bold sp_font_15">Template</label>
                    </div>
                    <div class="sp_small_21 sp_columns">
                        <select ng-options="item.id as item.label for item in templates" class="sp_select" name="" id="" ng-model="formdata.Template">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
        </div> 
        
        <div class="sp_row">
            <div class="sp_small_8 sp_columns sp_small_centered">
                <input type="submit" class="module_add sp_button sp_br4 sp_btngreen sp_m0" value="SAVE IMAGE">
            </div>
        </div>
    </form>
</div>