@font-face {
  font-family: 'flaticon';
  /*src: url("/assets/fonts/flaticon.eot");*/
  src: url("/assets/fonts/flaticon.eot") format("embedded-opentype"),
     url("/assets/fonts/flaticon.woff") format("woff"),
     url("/assets/fonts/flaticon.ttf") format("truetype"),
     url("/assets/fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: 'flaticon';
  font-style: normal;
  color: inherit;
}

.flaticon-arrows-2:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-move:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-add-plus-button:before { content: "\f104"; }
.flaticon-delete:before { content: "\f105"; }
.flaticon-write:before { content: "\f106"; }
.flaticon-arrow-point-to-down:before { content: "\f107"; }


