body {
    background: #ffffff;
    -webkit-font-smoothing: unset;
    -moz-font-smoothing: unset;            
}
body.noscroll {margin: 0; height: 100%; overflow: auto;}

/* flash */
.flash {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
}
.flash_close {
    position: absolute;
    width: 15px;
    line-height: inherit;
    height: 15px;
    top: 10px;
    display: inline-block;
    right: 10px;
}

.headbar {
    height: 50px;
    color: #ffffff;
    background-color: #222222;
}

.pageoptions {
    background-color: #222;
}


/* ui-sortable */
.ui-sortable {}
.ui-sortable-placeholder {
    background-color: #333;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 10px; 
}


/* stabs */
.stabs {}
.stabs_head {
    background-color: #eceaea;
}
.stabs_body {
    background-color: #fafafa;
}
.stabs_list {
    white-space: nowrap;
}
.stabs_item {
    display: inline-block;
}
.stabs_link {
    color: #333;
    font-size: initial;
    height: 36px;
    line-height: 36px;
    display: block;
    padding: 0 23px;
    margin: 8px 8px;
}
.stabs_link.active {
    background-color: #fafafa;
}
.stabs_body .stabs_content .listlandingradio {
    margin: 20px 10px;
}
.stabs_body .stabs_content .listlandingradio:last-of-type {
    margin-left: 50px;
}

.stabs_body .stabs_content ul.stabs_list_sub li.stabs_item_sub {
    display: block;
}
.stabs_body .stabs_content ul.stabs_list_sub li.stabs_item_sub a.stabs_link {
    display: inline-block;
    border: 1px solid #DDD;
    margin: 0 10px 20px 0;
}
.stabs_body .stabs_content ul.stabs_list_sub li.stabs_item_sub a.stabs_link.active {
    background: #333;
    color: #fff;
    border: 1px solid #fff;
}

/* login */
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -130px;
    width: 100%;
    max-width: 700px;
    height: 130px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}
.login_box {
    padding: 30px 30px 30px 130px;
}
.loginlogo {
    position: absolute;
    top: 50%;
    height: 80px;
    width: 80px;
    left: 30px;
    line-height: 80px;
    margin-top: -40px;
    font-size: 20px;
    text-align: center;
    background: #222;
    color: #ffffff;
}
.loginbutton, 
.logininput {
    height: 30px;
    font-size: 12px;
}
.loginbutton {
    margin: 0;
    line-height: 30px;
}

/* logodrop */
.logodrop {
    position: relative;
}
.logodrop_logo {}
.logodrop_logo span {
    cursor: pointer;
    position: relative;
    display: block;
    line-height: 50px;
    text-align: left;
    padding: 0 0 0 20px;
}
.logodrop_logo span:after{
    top: 50%;
    right: 15px;
    margin-top: -3px;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.logodrop_list {
    display: none;
    width: 180px;
    position: absolute;
    border: 1px solid #ddd;
    color: #000;
    z-index: 9;
}
.active .logodrop_list,
.logodrop:hover .logodrop_list {
    display: block;
}
.logodrop_item {}
.logodrop_link {
    border-bottom: 1px solid #dddddd;
    font-size: 13px;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    background-color: #eaeaea;
}
.logodrop_link:hover {
    background-color: #dddddd;
}

/* genderliks */
.genderliks {}
.genderliks_link {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}
.genderliks_link:hover,
.genderliks_link.active {
    background-color: #000000;
}

/* versionbox */
.versionbox {}
.versionbox_input {
    color: #333;
    border: 0;
    height: 35px;
    padding: 0 10px;
    background-color: #ffffff;
}

/* pagesave */
.pagesave {
    height: 35px;
    line-height: 35px;
}


/* sourcebox */
.sourcebox {
    position: relative;
}
.sourcebox_title {
    position: relative;
    padding: 0 10px;
    line-height: 35px;
    height: 35px;
    display: block;
    background-color: #ffffff;
}
.sourcebox_title:after {
    top: 50%;
    right: 15px;
    margin-top: -3px;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.sourcebox.active .sourcebox_title:after {
    border-bottom: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: none;
}
.sourcebox_list {
    display: none;
    z-index: 3;
    margin: 7px 0 0;
    position: absolute;
    width: 180px;
    border: 1px solid #dddddd;
}
.active .sourcebox_list {
    display: block;
}
.sourcebox_item {
    background: #eaeaea;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #dddddd;
}
.stores_souce_module {
    position: absolute;
    z-index: 1;
    top: 38px;
    right: 20px;
    width: 300px;
    padding: 0;
}
.stores_souce_module .sourcebox_title {
    line-height: 25px;
    height: 25px;
}
.stores_souce_module .storebox_list {
    overflow-y: auto;
    max-height: 360px;
}
.storebox_list {
    overflow-y: auto;
    max-height: 300px;
}
.stores_souce_module .storebox_list, .stores_souce_module .sourcebox_list {
    margin: 0;
}

/* storebox */
.storebox {
    position: relative;
}
.storebox_title {
    position: relative;
    padding: 0 10px;
    line-height: 35px;
    height: 35px;
    display: block;
    background-color: #ffffff;
}
.storebox_title:after {
    top: 50%;
    right: 15px;
    margin-top: -3px;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.storebox_list {
    right: 0;
    z-index: 3;
    display: none;
    margin: 7px 0 0;
    position: absolute;
    width: 165px;
    border: 1px solid #dddddd;
}
.active .storebox_list {
    display: block;
}
.storebox_item {
    background: #eaeaea;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #dddddd;
}

/* pageinfo */
.pageinfo {
    background-color: #FAFAFA;
}
.pageinfo_id,
.pageinfo_title,
.pageinfo_url {}

/* gridview */
.gridview {
    background-color: #fff;
}
.gridview_title {
    font-size: 17px;
    color: #999;
    line-height: initial;
}
.gridview .gridsearch {
    position: relative;
    padding: 0 40px 0 0;
    width: 250px;
}
.gridview .gridsearch_input {
    margin: 0;
    border: 0;
    font-size: 12px;
    height: 25px;
    background-color: transparent;
}
.gridview .gridcreate {
    font-size: 12px;
    background-color: #3d8bcd;
    color: #fff;
    padding: 0 15px;
    line-height: 27px;
}
.gridview .gridsummary {
    font-size: 13px;
    margin: 0;
    color: #555;
}
.gridview_table {
    max-height: 76vh;
    overflow-y: auto;
    height: auto;
}
.gridview .gridtable tbody td, 
.gridview .gridtable thead th {
    padding: 15px 5px;
    font-size: 14px;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px;
}
.gridview .gridtable thead th {
    cursor: pointer;
    position: relative;
}
.gridview .gridtable tbody td a.edit {
    color: green;
    padding-right: 5px;
}
.gridview .gridtable tbody td a.delete {
    color: red;
}

/* table sorting ascending/descending order css */
#myTable th.asc:after{
    content:'Asc';
    display:inline-block;
    padding:0 .5em;
    color:green;
}
#myTable th.desc:after{
    content:'Desc';
    display:inline-block;
    padding:0 .5em;
    color:blue;
}
.gridview .gridtable thead th a {
    color: transparent;
}
.gridview .gridtable thead th a{
    width: 0;
    height: 0;
}
.gridview .gridtable thead th a:after {
    content: '';
    border-top: 4px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    left: 40%;
}
.gridview .gridtable thead th a.sort-asc:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.gridview .gridtable thead th a.sort-desc:after {
    top: 25px;
}

/* module */
.module_head {
    padding: 7px 178px 7px 7px;
    position: relative;
    background-color: #dddddd;
    color: #333;
}
.module_body {
    background-color: #ffffff;
}
.module_count {
    display: block;
    height: 25px;
    line-height: 25px;
}
.module_columns {
    display: block;
    height: 25px;
    line-height: 25px;
}
.module_ratio {
    border-radius: 4px;
    height: 25px;
}
.module_actions {
    position: absolute;
    display: block;
    text-align: right;
    top: 0;
    right: 0;
    padding: 7px;
}
.module_actions .malinks {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    background-color: #dddddd;
}
.module_actions .malinks.sort {
    background-color: #555555;
}
.module_actions .malinks.add {
    width: 75px;
    background-color: #27ae60;
}
.module_actions .malinks.delete {
    background-color: #d43b41;
}
.module_actions .malinks .link {
    display: block;
    height: 12px;
    line-height: 12px;
}


/* colpopup */
.colpopup {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.colpopup_align {
    height: 100%;
    width: 0;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.colpopup_close {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 8px;
    position: absolute;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    right: 7px;
    top: 7px;
    background-color: #d43b41;
}
.colpopup_content {
    text-align: initial;
    width: 80%;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    z-index: 2;
    background-color: #fff;
}
.colpopup_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
}

/* imagepreview */
.imagepreview {
    background-color: #ddd;
    min-height: 105px;
    text-align: center;
    line-height: 105px;
    color: #bbbbbb;
    font-size: 40px;
}


/* block */
.block {
    position: relative;
    background-color: #687886;
    padding-top: 35px;
}
.block_head {
    min-height: 95px;
    font-size: 13px;
    padding: 5px 94px 5px 5px;
    background: darkgrey;
    border: 1px solid #999;
}
.block_body {
    overflow: hidden;
    position: relative;
    /*background-color: #687886;*/
}
.block_links {
    width: 165px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}
/*.block_options {
    position: absolute;
    top: 0;
    left: -30%;
    z-index: 4;
    width: 30%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.block_body:hover > .block_options {
    left: 0px;
}*/
/*.block .module_add {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    height: 30px;
    margin-top: -15px;
    margin-left: -60px;
    font-size: 12px;
    border-radius: 2px;
    width: 120px;
    line-height: 30px;
    background-color: #fff;
    color: #333;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.5);
}*/
.block .block_edit,
.block .block_sort,
.block .block_delete,
.block .clipboard-copy,
.block .clipboard-paste
{
    vertical-align: middle;
    display: inline-block;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    height: 25px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    min-width: 25px;
    cursor: pointer;
}
.block .block_edit:active,
.block .block_sort:active,
.block .block_delete:active,
.block .clipboard-copy:active,
.block .clipboard-paste:active,
.block .block_edit:focus,
.block .block_sort:focus,
.block .block_delete:focus,
.block .clipboard-copy:focus,
.block .clipboard-paste:focus{
    background-color:cyan;
}
.block_title {
    vertical-align: middle;
    display: block;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
.block span.clipboard-paste, .block span.clipboard-copy {
    color: transparent;
    background-size: 18px;
    background-position: 3px 3px;
    background-repeat: no-repeat;
}
.block span.clipboard-paste {
    background-image: url(../assets/images/paste.svg);
}
.block span.clipboard-copy {
    background-image: url(../assets/images/copy.svg);
}
/*.module_list .module_list .block_head {
    padding: 5px;
}*/
/*.module_list .module_list .block_links {
    display: none;
}*/
/*.block .module_add {
    width: 120px;
}*/

/* listlanding */
.listlanding {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.listlanding_item {
    background-color: #FFEB3B;
    color: #333;
    padding: 3px 8px;
    font-size: 13px;
    border-radius: 3px;
    margin: 3px;
    line-height: 1;
    display: inline-block;
}

/* addcolumn */
.addcolumn {
    display: inline-block;
}
.addcolumn_links {
    width: auto;
    padding: 0 10px;
    background-color: #fff;
    vertical-align: middle;
    color: #000;
    text-align: center;
    line-height: 25px;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid #000;
    font-weight: bold;
}
.addcolumn_popup {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.addcolumn_align {
    height: 100%;
    width: 0;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.addcolumn_content {
    text-align: initial;
    width: 80%;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    z-index: 2;
    background-color: #fff;
    overflow-y: auto;
    height: 98vh;
}
.addcolumn_close {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 8px;
    position: absolute;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    right: 7px;
    top: 7px;
    background-color: #d43b41;
}
.addcolumn_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
}


/* tabs */
.tabs {}
.tabs_head {}
.tabs_list {
    white-space: nowrap;
}
.tabs_item {
    display: inline-block;
}
.tabs_link {
    background-color: #dddddd;
    position: relative;
    display: block;
    padding: 10px 30px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}
.tabs_link.active {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
.tabs_content {
    overflow-y: auto;
    height: 84vh;
    border-radius: 0 4px 4px 4px;
}
.tabs_block {}

/* for disabled button */
span[disabled] {
    cursor: not-allowed !important;
    opacity: 0.4;
}

/* for modules and sub modules edit and add options  */

.adddataimages_show {
    position: relative;
    background: #fff;
    top: -55px;
    padding-top: 30px;
}
span.sp_mtop40 {
    margin-top: 20px;
}
ul.module_list.added_images {
    margin-top: 30px;
}

/* Add landing data css */

ul.module_list.added_images.for_landingdata {
    position: relative;
    margin-top: 0;
}

ul.module_list.added_images.for_landingdata .module_item {
    padding: 10px;
    position: relative;
    background: dimgrey;
}
ul.module_list.added_images.for_landingdata .sp_row.module_head.collapse {
    margin-bottom: 4px;
    padding: 10px;
}
ul.module_list.added_images.for_landingdata addlandingdata.ng-isolate-scope a.addcolumn_links.addlanding_button {
    position: absolute;
    top: 19px;
    right: 52px;
}   
.list-mod .sp_columns {
    padding: 10px;
}
.block_title.block_img_title.ng-binding.ng-scope {
    display: inline-flex;
    width: 100%;
    min-height: 45px;
    margin: 5px;
}
.block_title.block_img_title.ng-binding.ng-scope img {
    width: 100px;
    height: initial;
    margin: 0 10px 0px 5px;
}
.block_title.block_img_title.ng-binding.ng-scope spam.ng-binding {
    line-height: initial;
}
.adddataimages_show_forlandingdata addmodule.ng-isolate-scope .sp_btnorange {
    color: #000;
    background: #fff !important;
    border-radius: 0;
    display: inline-block;
    padding: 10px 15px;
    text-align: left;
    position: relative;
    top: -4px;
    border: 1px solid #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}
.adddataimages_show_forlandingdata addmodule.ng-isolate-scope .sp_btnorange:after {
    content: ' + ';
    float: left;
    width: 15px;
    right: 13px;
    position: absolute;
    color: #000;
    height: 20px;
    top: 12px;
    font-size: 24px;
}
ul.module_list.added_images.for_landingdata .module_item listmodules.ng-isolate-scope ul.module_list li.module_item {
    background: #fff;
    margin: 0 auto;
    width: 98%;
    float: right;
}
ul.module_list.added_images.for_landingdata .module_item listmodules.ng-isolate-scope ul.module_list li.module_item .list-mod .sp_columns {
    /* padding: 5px; */
}
ul.module_list.added_images.for_landingdata .sp_row.module_head.collapse .sp_columns {
    padding: 0;
}
ul.module_list.added_images.for_landingdata .sp_row.module_head.collapse .sp_columns a.block_edit.flaticon-write {
    position: absolute;
    right: 160px;
    z-index: 1;
    border: 1px solid #000;
    padding: 0px 5px;
    height: 27px;
    top: 9px;
    background: #fff;
}
ul.module_list.added_images.for_landingdata .sp_row.module_head.collapse .sp_columns .adddataimages_show {
    width: 90%;
    z-index: 9;
    position: inherit;
    margin: 20px 5%;
    float: none;
}
ul.module_list.added_images.for_landingdata .sp_row.module_head.collapse .sp_columns .sp_mb15 {
    margin-bottom: 15px!important;
    padding: 20px;
}
ul.module_list.added_images.for_landingdata .module_item listmodules.ng-isolate-scope listimages.ng-isolate-scope ul.module_list li.module_item {
    margin-top: 10px;
    padding-bottom: 7px;
}
addimage.ng-isolate-scope .sp_btnorange {
    width: 90%;
    margin: 0 auto;
}
ul.module_list.added_images.for_landingdata .module_item listmodules.ng-isolate-scope ul.module_list li.module_item {
    background: #fff;
    margin-bottom: 5px !important; 
}

/* Add Column Main  */
li.module_item.main_additem {
    overflow: unset;
    border: 3px solid #999;
}
.main_additem .module_actions {
    position: relative;
    padding: 0;
}
.main_additem .sp_row.module_head.collapse {
    padding: 7px;
    width: 100%;
}
.addcolumn.addcolumn_nopopup {
    /* position: relative; */
    width: 100%;
    float: left;
}
.addcolumn_content_nopopup {
    /* position: relative; */
    margin: 0 auto;
    width: 100%;
}
.addcolumn_content_nopopup addimage.ng-isolate-scope .sp_btnorange {
    width: 100%;
    margin: 0;
    float:left;
}
.addcolumn_content_nopopup .sp_row.sp_m20 {
    margin: 0px 0px 0px 10px!important;
}
.addcolumn_content_nopopup .sp_button {
    line-height: normal;
    height: auto;
    font-size: 11px;
    width: 100%;
    margin: 0 0 15px;
    padding: 5px;
    width: 100% !important;
}
.addcolumn_content_nopopup ul.module_list.added_images {
    width: 100%;
    float: left;
}
.addcolumn_content_nopopup ul.module_list.added_images.for_landingdata .module_item {
    padding: 10px;
    position: relative;
    background: #696969;
    width: 100%;
    text-align: left;
    margin-right: 25px;
    margin-bottom: 6px !important;
    margin-top: 10px;
    float: left;
}
.addcolumn_content_nopopup .sp_small_centered {
    float: none;
    width: 100%;
}
.addcolumn.addcolumn_nopopup a.addcolumn_links {
    position: absolute;
    right: 62px;
    top: 0px;
}
.addcolumn_content_nopopup addimage.ng-isolate-scope .sp_btnorange, .addcolumn_content_nopopup .sp_button, 
.addcolumn_content_nopopup .addcolumn_close
{
    float: right;
}
.addcolumn_content_nopopup addimage.ng-isolate-scope .sp_btnorange, .addcolumn_content_nopopup .sp_button, 
.addcolumn_content_nopopup .addcolumn_close, .addcolumn_content_nopopup>listimages.ng-isolate-scope .module_actions .malinks.delete {
    border-radius: 0;
    right: 0;
    position: relative;
    left: unset;
    width: auto;
    color: #000;
    border: 1px solid #000;
    font-size: 10px;
    line-height: 22px;
    /*background: #fff !important;*/
    text-transform: uppercase;
    min-width: 25px;
    letter-spacing: 0.4px;
}
.addcolumn_content_nopopup>listimages.ng-isolate-scope .module_actions .malinks.delete {
    float: none;
}
.addcolumn_popup_nopopup {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    float: left;
    /* background: #fff; */
    border: 2px solid #000;
    padding: 10px;
    height: auto;
    margin-top: 10px;
}
.addcolumn_content_nopopup > * {
    float: left;
    display: inline-block;
    width: auto;
}
.addcolumn_content_nopopup>listimages.ng-isolate-scope {
    width: 100%;
}

.addcolumn_content_nopopup .adddataimages_show {
    position: fixed;
    width: 70%;
    top: 0;
    padding: 15px 20px;
    box-shadow: 0 0 400vh 308vh rgba(1,1,1,.5);
    z-index: 9;
    margin: 0 auto;
    left: 15.5%;
}
.addcolumn_content_nopopup editimage.ng-isolate-scope .adddataimages_show {
    box-shadow: none;
}
editcolumn.ng-isolate-scope addimage.ng-isolate-scope span.module_add.sp_button.sp_btngreen, 
editcolumn.ng-isolate-scope ul.module_list.added_images.for_landingdata .module_item {
    width: 100%;
    float: left;
}
editcolumn.ng-isolate-scope .adddataimages_show {
    float: left;
    /*width: 100%;*/
}
ul.module_list.added_images.for_landingdata .sp_row.module_head.collapse .sp_columns {
    padding: 0;
    margin: 0 auto;
}




/* Mega Menu Start*/

ul.menuitems {
    float: left;
}
ul.menuitems li {
    float: left;
    width: auto;
}
    
.stabs.menuitems a.stabs_link {
    display: inline-block;
    text-transform: uppercase;
}
.stabs.menuitems a.stabs_link.active {
    color: #333;
}
ul.midlevel.content li a {
    float: left;
    padding: 5px 0px;
}
ul.midlevel.content li {
    width: 100%;
    float: left;
}
ul.midlevel.content li div.sublevel_list{
    display: grid;
    float: left;
    width: 20%;
}
.fe_images_menu {
    float: right;
    width: 80%;
    clear: both;
}
.stabs.menuitems > .stabs_content {
    background: #333;
}
.stabs.menuitems > .stabs_content a.stabs_link.mid {
    color: #fff;
    font-weight: normal;
    background: transparent;
        margin: 3px 10px;
}
.stabs.menuitems > .stabs_content a.stabs_link.mid.active {
    position: relative;
}
.stabs.menuitems > .stabs_content a.stabs_link.mid.active:after {
     content: '';
    border-top: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: 38px;
    left: 42%;
}
ul.midlevel.content {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.fe_images_menu .image_block {
    display: inline-block;
    margin: 15px;
    width: 28%;
    text-align: center;
    vertical-align: middle;
}
.fe_images_menu .image_block .image_url {
    background: #ccc;
    height: 300px;
    width: 100%;
    border: 1px solid #333;
}
.fe_images_menu .image_block span.image_title {
    margin: 10px 0px;
    text-align: center;
    float: left;
    width: 100%;
    text-transform: uppercase;
    height: 20px;
}
.stabs.menuitems .adddataimages_show {
    position: absolute;
    background: #fff;
    top: 100px;
    padding-top: 30px;
    width: 600px;
    box-shadow: 0 0 400vh 308vh rgba(1,1,1,.5);
    padding: 20px;
}
span.addmenuimage.module_add.sp_button.sp_btngreen {
    border: 1px solid #333;
    border-radius: 0;
    left: unset;
    width: auto;
    color: #000;
    background: #fff !important;
    text-transform: uppercase;
    min-width: 25px;
    letter-spacing: 0.4px;
}
.fe_images_menu .image_block .image_url img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
}
/* Mega Menu End*/