<div class="addcolumn">
	<a href="" class="block_edit flaticon-write" ng-click="showpop()"></a>
	<div class="addcolumn_popup" ng-show="pop">
		<span class="addcolumn_align"></span>
		<div class="addcolumn_content">
			<a href="" class="addcolumn_close flaticon-delete" ng-click="closepop()"></a>
			<div class="tabs">
				<div class="tabs_block sp_p15 editing_module">
					<!-- {{images}} -->
					<listimages template-url="directives/listimages/listimages.html" imagelist="images"></listimages>
					<addimage template-url="directives/addimage/addimage.html" imagedata="images"></addimage>
				</div>
				<!-- <div class="tabs_block sp_p15">
					<listmodules template-url="directives/listmodules/view1.html" list="dataobject.LandingData"></listmodules>
					<addmodule template-url="directives/addmodule/view1.html" dataobject="dataobject.LandingData"></addmodule>
				</div> -->
			</div>
			<div class="sp_row collapse">
				<div class="sp_small_24 sp_columns">
					<a href="" class="sp_button sp_br4 sp_btngreen sp_m0" ng-click="save()">SAVE</a>
				</div>
			</div>
		</div>
		<div class="addcolumn_overlay" ng-click="closepop()"></div>
	</div>
</div>