<ul class="module_list added_images for_landingdata">
        <li class="module_item sp_mb10" ng-animate="'animate'" ng-repeat="image in imagelist track by $index" data-index="{{$index}}">
                <div class="sp_row module_head collapse">
                        <div class="sp_small_20 sp_columns">
                                <span class="module_count sp_bold">{{$index+1}}. {{image.Title}}</span>
                        </div>
                        <div class="sp_small_22 sp_columns popeditimage">
                                <!-- <div class="popeditimage" ng-show="popeditimage"> -->
                                <editimage template-url="directives/editimage/editimage.html" dataobject="image"></editimage>
                                <!-- </div> -->
                        </div>
                        <span class="module_actions foraddlanding delete_button">
                                <a href="" class="malinks delete flaticon-delete" ng-click="delete($index)"></a>
                        </span>
                </div>
                <addlandingdata template-url="/directives/addlandingdata/addlandingdata.html" dataobject="image">
                </addlandingdata>
        </li>
</ul>