<ng-include src="'pages/includes/header.html'"></ng-include>
<div class="stabs">
	<div class="stabs_head">
		<div class="sp_row stretch">
			<div class="sp_small_10 sp_columns">
				<ul class="stabs_list">
					<li class="stabs_item">
						<a href="" ng-click="tabed('hometab');tabchangemain();" class="stabs_link" ng-class="{active: isactive('hometab')}">Home</a>
					</li>
					<li class="stabs_item">
						<a href="" ng-click="tabed('womentab');tabchangemain();" class="stabs_link" ng-class="{active: isactive('womentab')}">Women</a>
					</li>
					<li class="stabs_item">
						<a href="" ng-click="tabed('mentab');tabchangemain();" class="stabs_link" ng-class="{active: isactive('mentab')}">Men</a>
					</li>
					<li class="stabs_item">
						<a href="" ng-click="tabed('kidtab');tabchangemain();" class="stabs_link" ng-class="{active: isactive('kidtab')}">Kids</a>
					</li>
				</ul>
			</div>
			<div class="sp_small_14 sp_columns sp_pt7 sp_pb7">
				<div class="sp_small_7 sp_columns">
					<styleversion dataobject="info.version"></styleversion>
				</div>
				<div class="sp_small_12 sp_columns">
					<sourceandstores dataobject="info"></sourceandstores>
				</div>
				<!-- <div class="sp_small_7 sp_columns">
					<source dataobject="info.source"></source>
				</div>
				<div class="sp_small_7 sp_columns">
					<stores dataobject="info"></stores>
				</div> -->
				<div class="sp_small_3 sp_columns">
					<a href="" class="sp_button sp_br4 sp_btngreen sp_m0 pagesave" ng-click="save()">SAVE</a>
				</div>
			</div>
		</div>
	</div>
	<div class="stabs_body sp_p15">
		<!-- Home Start-->
		<div class="stabs_content" ng-show="isactive('hometab')">
			<pageinfo dataobject="page.Home"></pageinfo>
			<div class="module">
				<listmodules template-url="directives/listmodules/view1.html" list="page.Home.Module"></listmodules>
				<addmodule template-url="directives/addmodule/view1.html" dataobject="page.Home.Module"></addmodule>
			</div>
		</div>
		<!-- Home End-->

		<!-- Men start-->
		<div class="stabs_content" ng-show="isactive('mentab')">
			<ul class="stabs_list_sub">
				<li class="stabs_item_sub">
					<a href="" ng-click="tabedsub('landingtab');tabsubchange();" class="stabs_link" ng-class="{active: isactivesub('landingtab')}">Landing</a>
					<a href="" ng-click="tabedsub('listingtab');tabsubchange();" class="stabs_link" ng-class="{active: isactivesub('listingtab')}">Listing</a>
				</li>
			</ul>
			<div class="stabs_body_sub">
				<div class="stabs_content_sub" ng-show="isactivesub('landingtab')">
					<pageinfo dataobject="page.Men"></pageinfo>
					<div class="module">
						<listmodules template-url="directives/listmodules/view1.html" list="page.Men.Module"></listmodules>
						<addmodule template-url="directives/addmodule/view1.html" dataobject="page.Men.Module"></addmodule>
					</div>
				</div>
				<div class="stabs_content_sub" ng-show="isactivesub('listingtab')">
					<pageinfo dataobject="page.Men"></pageinfo>
				</div>
			</div>
		</div>
		<!-- Men end-->

		<!-- Women start-->
		<div class="stabs_content" ng-show="isactive('womentab')">
			<ul class="stabs_list_sub">
				<li class="stabs_item_sub">
					<a href="" ng-click="tabedsub('landingtab');tabsubchange();" class="stabs_link" ng-class="{active: isactivesub('landingtab')}">Landing</a>
					<a href="" ng-click="tabedsub('listingtab');tabsubchange();" class="stabs_link" ng-class="{active: isactivesub('listingtab')}">Listing</a>
				</li>
			</ul>
			<div class="stabs_body_sub">
				<div class="stabs_content_sub" ng-show="isactivesub('landingtab')">
					<pageinfo dataobject="page.Women"></pageinfo>
					<div class="module">
						<listmodules template-url="directives/listmodules/view1.html" list="page.Women.Module"></listmodules>
						<addmodule template-url="directives/addmodule/view1.html" dataobject="page.Women.Module"></addmodule>
					</div>
				</div>
				<div class="stabs_content_sub" ng-show="isactivesub('listingtab')">
					<pageinfo dataobject="page.Women"></pageinfo>
				</div>
			</div>
		</div>
		<!-- Women End-->

		<!-- Kids Start-->
		<div class="stabs_content" ng-show="isactive('kidtab')">
			<ul class="stabs_list_sub">
				<li class="stabs_item_sub">
					<a href="" ng-click="tabedsub('landingtab');tabsubchange();" class="stabs_link" ng-class="{active: isactivesub('landingtab')}">Landing</a>
					<a href="" ng-click="tabedsub('listingtab');tabsubchange();" class="stabs_link" ng-class="{active: isactivesub('listingtab')}">Listing</a>
				</li>
			</ul>
			<div class="stabs_body_sub">
				<div class="stabs_content_sub" ng-show="isactivesub('landingtab')">
					<pageinfo dataobject="page.Kids"></pageinfo>
					<div class="module">
						<listmodules template-url="directives/listmodules/view1.html" list="page.Kids.Module"></listmodules>
						<addmodule template-url="directives/addmodule/view1.html" dataobject="page.Kids.Module"></addmodule>
					</div>
				</div>
				<div class="stabs_content_sub" ng-show="isactivesub('listingtab')">
					<pageinfo dataobject="page.Kids"></pageinfo>
				</div>
			</div>
		</div>
	</div>
	<!-- Kids End-->

</div>
</div>
<pre><h3>Info</h3>{{info | json}}</pre>
<pre><h3>Data</h3>{{page | json}}</pre>