<div class="addcolumn addcolumn_nopopup">
	<a href="" class="addcolumn_links" ng-click="showpop()">Add column</a>
	<div class="addcolumn_popup_nopopup" ng-show="pop">
		<!-- <span class="addcolumn_align"></span> -->
		<div class="addcolumn_content_nopopup">
			<a href="" class="addcolumn_close flaticon-delete" ng-click="closepop()"></a>
			<!-- {{images}} -->	
			<addimage template-url="directives/addimage/addimage.html" imagedata="images"></addimage>
			<div class="sp_row sp_m20">
				<div class="sp_small_8 sp_columns sp_small_centered">
					<input type="submit" ng-click="save();closepop()" class="module_add sp_button sp_br4 sp_btngreen sp_m0" value="SAVE COLUMN">
				</div>
			</div>
			<listimages template-url="directives/listimages/listimages.html" imagelist="images"></listimages>
		</div>
		<!-- <div class="addcolumn_overlay" ng-click="closepop()"></div> -->
	</div>
</div>