<ng-include src="'pages/includes/header.html'"></ng-include>

<div class="stabs menuitems">
    <div class="stabs_head" >
        <a class="stabs_link toplevel" ng-repeat="toplevel in menuitems" ng-click="tabedmenu('tab-' + $index);tabchangemain();" ng-class="{active: isactivemenu('tab-' + $index)}">{{toplevel.key}}</a>
    </div>
    <div class="stabs_content" ng-show="isactivemenu('tab-' + $index)" ng-repeat="toplevel in menuitems">
        <a ng-click="tabedmenusub('subtab-' + $index + toplevel.key);tabsubchange();"  ng-class="{active: isactivemenusub('subtab-' + $index + toplevel.key)}" class="stabs_link mid" ng-repeat="item in toplevel.value">{{item.Name}}</a>
        <ul class="midlevel content">
            <li ng-repeat="item in toplevel.value" ng-show="isactivemenusub('subtab-' + $index + toplevel.key)">

                <!--Featured Images for second category menu start-->
                <div class="fe_images_menu">
                    <addmenuimage template-url="directives/addmenuimage/addmenuimage.html" menuitems="item"></addmenuimage>
                    <!--Image block start-->
                    <div class="image_block" ng-repeat="image in item.MenuImageData">
                        <div class="image_url">
                           <img src="{{image.Image}}" alt="">
                        </div>
                        <span class="image_title">
                            {{image.Title}}
                        </span>
                    </div>
                    <!--Image block end-->
                </div>
                <!--Featured Images for second category menu start-->
                <div class="sublevel_list">
                   <a ng-repeat="midlevel in item.ChildCategories" >{{midlevel.Name}} </a>  
                </div>
            </li>
        </ul>
    </div>
</div>

<!--    <pre style="overflow: unset; float:left;">{{menuitems|json}}</pre>-->



