<div class="sp_row collapse list-mod" >
    <div class="{{blockWidth()}}" ng-repeat="item in items track by $index" data-index="{{$index}}">
        <div class="block">
            <div class="block_head">
                <div class="block_title block_img_title" ng-repeat="image in item.images">{{$index + 1}}
                    <img src="{{image.Image}}" alt="">
                    <spam>{{image.Title}}</spam>	
                    <div class="listlanding" ng-show="list.length > 0">
                        <span class="listlanding_item" ng-repeat="list in image.LandingData track by $index">module-{{$index + 1}}</span>
                    </div>
                </div>
                <!--<div class="sp_small_12 sp_columns stores_souce_module">
                         <sourceandstores dataobject="info.sourceandstores"></sourceandstores> 
                         <sourceandstores dataobject="item.info" identity=""></sourceandstores> 
                </div>-->
                <div class="block_links">
                    <span class="clipboard-paste" title="paste" ng-click="pasteAction($index)">paste</span>
                    <span class="clipboard-copy" title="copy" ng-click="copyAction($index)">copy</span>
                    <editcolumn template-url="directives/editcolumn/view.html" dataobject="item"></editcolumn>
                    <span class="block_sort">
                        <a href="" class="sort flaticon-arrows-1" ng-click="sortLeft($index)"></a>
                        <a href="" class="sort flaticon-arrows-2" ng-click="sortRight($index)"></a>
                    </span>
                    <a class="block_delete flaticon-delete" ng-click="delete(item)"></a>
                </div>
            </div>
            <!-- <div class="block_body sp_p7 sp_pt0 sp_al_center">	
                    <listlanding template-url="directives/listlanding/view.html" dataobject="item.LandingData"></listlanding>
                    <img src="{{item.Image}}" alt=""> 
            </div> -->
        </div>
    </div>
</div>
