<div class="flash" ng-show="_data">
	<div 
		ng-class="{ 
			'sp_alert': _data, 
			'sp_alert_success': _data.type === 'success', 
			'sp_alert_danger': _data.type === 'error',
			'sp_alert_info': _data.type === 'info' ,
			'sp_alert_warning': _data.type === 'warning' ,
		}" >
		<div class="aw_font_17 sp_bold">{{_data.message}}</div>
		<ul ng-if="_data.list">
			<li class="sp_ml25 bullet" ng-repeat="error in _data.list">{{error.field + ': ' +error.message}}</li>
		</ul>
		<a href="" class="flash_close js_flashclose"><i class="flaticon-cancel"></i></a>
	</div>
</div>