<span ng-click="addmenuimage();" class="addmenuimage sp_mtop40 module_add sp_button sp_btngreen sp_br4">Add Category Image</span> 

<div class="adddataimages_show" ng-show="popmenu">
    <form novalidate class="sp_mb15" ng-submit="savemenudata()" name="">
        <div class="add_image_attr">
            <div class="sp_row">
                <div class="sp_small_3 sp_columns">
                    <label for="" class="sp_bold sp_font_15">Image</label>
                </div>
                <div class="sp_small_21 sp_columns">
                    <input type="text" class="sp_input" ng-model="formdatamenu.Image">
                </div>
            </div>
            <div class="sp_row">
                <div class="sp_small_3 sp_columns">&nbsp;</div>
                <div class="sp_small_21 sp_columns">
                    <div class="imagepreview sp_mb15">
                        <img style="max-height: 260px" src="{{formdatamenu.Image}}" alt="">
                    </div>
                </div>
            </div>
            <div class="sp_row">
                <div class="sp_small_3 sp_columns">
                    <label for="" class="sp_bold sp_font_15">Title</label>
                </div>
                <div class="sp_small_21 sp_columns">
                    <input type="text" class="sp_input" ng-model="formdatamenu.Title">

                </div>
            </div>
            <div class="sp_row">
                <div class="sp_small_3 sp_columns">
                    <label for="" class="sp_bold sp_font_15">Url</label>
                </div>
                <div class="sp_small_21 sp_columns">
                    <input type="text" class="sp_input" ng-model="formdatamenu.Uri">
                </div>
            </div>
        </div> 
        <div class="sp_row">
            <div class="sp_small_8 sp_columns sp_small_centered">
                <input type="submit" class="module_add sp_button sp_br4 sp_btngreen sp_m0" value="SAVE IMAGE">
            </div>
        </div>
    </form>
</div>